.BlogPage {
    position: relative;
    width: 566px;
    margin: 0 auto;

    .BlogImage {
        width: 100%;
    }

    .BlogCode {

        code {
            border-radius: 10px; 
            padding: 20px;
            overflow:hidden;
            margin-left: -20px;
            margin-right: -40px;
        }
    }
}
