.BlogList {
    position: relative;
    width: 566px;
    margin: 0 auto;

    .BlogList-title {
        font-size: 40px;
        font-weight: 400;
    }

    .BlogList-listings {
        padding: 0;
        list-style: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
}

.BlogListing {
    position: relative;
    margin-bottom: 30px;

    * {
        margin-bottom: 4px;
    }

    a.BlogListing-title {
        display: block;
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        text-transform: capitalize;
        color: #1DA1F2;

        &:visited, &:active {
            color: #1DA1F2;
        }
    }

    .BlogListing-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: capitalize;
    }

    .BlogListing-desc {
        text-transform: capitalize;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.8);
    }
}
