.BlogList {
    position: relative;
    width: 566px;
    margin: 0 auto;

    .BlogList-heading {
        display: flex;
        flex-direction: row;

        .BlogList-img {
            margin-top: 40px;
            margin-right: 20px;
            width: 130px;
            height: 100px;
            border-radius: 50%;
            background-image: url('https://raw.githubusercontent.com/alajfit/site.personal/master/images/me.jpg');
            background-position: center center;
            background-size: contain;
            border: 2px solid black;
        }

        .BlogList-title {
            font-size: 40px;
            font-weight: 400;
        }
    }

    .BlogList-listings {
        padding: 0;
        list-style: none;
    }
}

.BlogListing {
    position: relative;
    margin-bottom: 30px;

    * {
        margin-bottom: 4px;
    }

    a.BlogListing-title {
        display: block;
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        text-transform: capitalize;
        color: #1DA1F2;

        &:visited, &:active {
            color: #1DA1F2;
        }
    }

    .BlogListing-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: capitalize;
    }

    .BlogListing-desc {
        text-transform: capitalize;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.8);
    }
}
